*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #141922;
}
.foot-hr{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 15px;
width: 80%;
}
header{
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100vw - 180px);
    height: 100px;
}

.hover:hover {
   color: white;
  }

    button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    margin-right: 50px;
}
  .icons{
    font-size: 25px;
    vertical-align: middle;
    }
  .home{
       border-left: 2px solid  greenyellow;
       padding-left: 20px;
       color: rgb(131, 128, 128);
       margin-bottom: 10px;
       }
  .big{
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 20px;
      color: white;
  }
  .fade{
   color: rgb(131, 128, 128);
   margin-left: 25px;
  }

.main-nav{
    display: flex;
    flex-flow: column wrap;
    background-color: black; 
    width: 180px;
    height: calc(100vh - 100px);
    top: 0;
    left: 0;
    z-index: 10;
}
.main-nav img{
    max-width: 120px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.main-nav li{
    color: rgb(131, 128, 128);
    margin-bottom: 10px;
    font-size: 14px;   
    margin-left: 25px;
    list-style: none;
}
.nav-foot{
    justify-content: flex-end;
    margin-top: auto;

}

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.footer-left img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}